/* Soluzione qui */
@media screen and (min-width: 768px) {
    #topbar {
        justify-content: flex-start;
    }

    .recipe-origin {
        display: inline-block;
        font-size: 30px;
    }

    .recipe-title {
        font-size: 30px;
    }

    .quick-notes>ul {
        display: flex;
        flex-wrap: wrap;
    }

    li {
        width: calc(100% / 3);
    }

    .ads {
        display: block;
        margin: 30px auto;
    }

    img {
        float: left;

    }

    .presentation img {
        margin-top: 10px;
        margin-right: 10px;
    }

    .presentation h3 {
        margin-top: 10rem;
    }

    footer ul {
        flex-wrap: nowrap;
    }

    .social-networks button {
        border: 0;
        font-size: 14px;
        font-weight: bold;
        padding: 10px 55px;
        border-radius: 20px;
        cursor: pointer;
        text-transform: uppercase;
        background-color: #fff;
    }



}

@media screen and (min-width: 992px) {
    .recipe-origin {
        display: inline-block;
        font-size: 40px;
    }

    .recipe-title {
        font-size: 40px;
    }

    .recipe-card {
        display: flex;
    }

    .recipe-video {
        width: 80%;
        height: auto;
    }

    .recipe-info {
        width: 40%;
    }

    .social-networks .label {
        display: inline-block;
    }

    footer {
        display: flex;
        justify-content: space-between;
    }

    .social-networks button {
        border: 0;
        font-size: 14px;
        font-weight: bold;
        padding: 5px 55px;
        border-radius: 20px;
        cursor: pointer;
        text-transform: uppercase;
        background-color: #fff;
    }

    .quick-notes>ul {
        flex-wrap: nowrap;
        flex-direction: column;
    }

    li {
        width: auto;
    }


}