/* Soluzione qui */
@media screen and (min-width: 768px) {
    #topbar {
        display: block;
    }

    .recipe-origin {
        display: inline-block;
        font-size: 30px;
    }

    .recipe-title {
        font-size: 30px;
    }

    .quick-notes>ul {
        display: flex;
        flex-wrap: wrap;
    }

    li {
        width: calc(100% / 3);
    }

    .ads {
        display: block;
        margin: 30px auto;
    }

    img {
        float: left;

    }

    .presentation img {
        margin-top: 10px;
        margin-right: 10px;
    }

    .presentation h3 {
        margin-top: 10rem;
    }

    footer ul {
        flex-wrap: nowrap;
    }



}

@media screen and (min-width: 992px) {
    .recipe-origin {
        display: inline-block;
        font-size: 40px;
    }

    .recipe-title {
        font-size: 40px;
    }

    .recipe-card {
        display: flex;
    }

    .recipe-video {
        width: 80%;
        height: 27vw;
    }

    .recipe-info {
        width: 40%;
    }

    .social-networks .label {
        display: inline-block;
    }

    footer {
        display: flex;
        justify-content: space-between;
    }
}